In [17]:
import pandas as pd

# Read the CSV file and create a dataframe
df = pd.read_csv('Final.csv')

# Perform operations on the dataframe as needed
# For example, you can access columns using df['column_name']
# or perform calculations and transformations on the data

# Print the first few rows of the dataframe
print(df.head())

   CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0          946851639       3537  United States of America  South-Region
1          963432061       3449                Martinique  South-Region
2          971991639       3238                   Moldova  South-Region
3          754349803       3911      United Arab Emirates  South-Region
4          930253442       2381                    Greece  South-Region

  RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                  0,00                1000          3220
1                  0,00                1000          3220
2              82342,02                I200          3260
3               1471,24                N000          3290
4                  0,00                N000          3290

   ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0             20220101                43012                SR02
1             20220101                43114                NR03
2             20220101               110019                NR01
3             20220101               153013                SR02
4             20220101               160020                SR01

   SOLD_TO_PARTY ORDER_AMOUNT  REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0      756141537       954,61                 20220113            EUR
1      798847812       787,36                 20220111            EUR
2      960984659     67493,46                 20220112            EUR
3      925857642      1405,54                 20220106            EUR
4      947942786         0,00                 20220106            EUR

   CREDIT_STATUS  CUSTOMER_NUMBER
0            NaN         12311807
1            NaN         12311807
2           93.0         12118758
3           93.0       1210499770
4           64.0       1210351400

In [18]:
import pandas as pd

# Assuming the dataframe is named 'df'

# Check the description of the dataframe
description = df.describe()
print(description)

# Check the shape of the dataframe
shape = df.shape
print(shape)

# Check the dataframe information
info = df.info()
print(info)

# Check for null values in the dataframe
null_values = df.isnull().sum()
print(null_values)

       CUSTOMER_ORDER_ID     SALES_ORG  COMPANY_CODE  ORDER_CREATION_DATE  \
count       1.101925e+06  1.101925e+06  1.101925e+06         1.101925e+06
mean        8.763187e+08  3.304891e+03  3.431364e+03         2.022032e+07
std         7.088594e+07  6.958920e+02  5.483805e+02         1.426756e+02
min         7.534520e+08  2.100000e+03  5.900000e+01         2.022010e+07
25%         8.149522e+08  2.702000e+03  3.260000e+03         2.022021e+07
50%         8.763963e+08  3.305000e+03  3.660000e+03         2.022032e+07
75%         9.376832e+08  3.908000e+03  3.670000e+03         2.022042e+07
max         9.990063e+08  4.510000e+03  4.260000e+03         2.022060e+07

       ORDER_CREATION_TIME  SOLD_TO_PARTY  REQUESTED_DELIVERY_DATE  \
count         1.101925e+06   1.101925e+06             1.101925e+06
mean          1.340316e+05   8.763265e+08             2.022035e+07
std           6.503618e+04   7.090306e+07             1.751912e+03
min           0.000000e+00   7.534518e+08             2.019081e+07
25%           8.170200e+04   8.148366e+08             2.022022e+07
50%           1.509540e+05   8.763542e+08             2.022033e+07
75%           1.853580e+05   9.377293e+08             2.022050e+07
max           2.359590e+05   9.990075e+08             2.202022e+07

       CREDIT_STATUS  CUSTOMER_NUMBER
count  219478.000000     1.101925e+06
mean       74.464771     1.074092e+09
std        14.444210     4.042693e+08
min        52.000000     1.210001e+07
25%        64.000000     1.230006e+09
50%        64.000000     1.230014e+09
75%        93.000000     1.230014e+09
max        93.000000     1.230025e+09
(1101925, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1083233 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  int64
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  object
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  int64
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            219478 non-null   float64
 15  CUSTOMER_NUMBER          1101925 non-null  int64
dtypes: float64(1), int64(8), object(7)
memory usage: 134.5+ MB
None
CUSTOMER_ORDER_ID               0
SALES_ORG                       0
DISTRIBUTION_CHANNEL            0
DIVISION                        0
RELEASED_CREDIT_VALUE           0
PURCHASE_ORDER_TYPE         18692
COMPANY_CODE                    0
ORDER_CREATION_DATE             0
ORDER_CREATION_TIME             0
CREDIT_CONTROL_AREA             0
SOLD_TO_PARTY                   0
ORDER_AMOUNT                    0
REQUESTED_DELIVERY_DATE         0
ORDER_CURRENCY                  0
CREDIT_STATUS              882447
CUSTOMER_NUMBER                 0
dtype: int64

In [21]:
import pandas as pd

# Assuming the dataframe is named 'df'

# Replace null values with "NaN"
df = df.fillna("NaN")

# Verify the dataframe after replacing null values
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

         ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                   20220101                43012                SR02
1                   20220101                43114                NR03
2                   20220101               110019                NR01
3                   20220101               153013                SR02
4                   20220101               160020                SR01
...                      ...                  ...                 ...
1101920             20220601                74357                NR02
1101921             20220601                84052                NR04
1101922             20220601                85322                NR01
1101923             20220601                90538                SR04
1101924             20220601               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT  REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954,61                 20220113            EUR
1            798847812       787,36                 20220111            EUR
2            960984659     67493,46                 20220112            EUR
3            925857642      1405,54                 20220106            EUR
4            947942786         0,00                 20220106            EUR
...                ...          ...                      ...            ...
1101920      946056501      4415,19                 20220601            SGD
1101921      894775488         0,00                 20220601            SGD
1101922      909729781         0,00                 20220601            SGD
1101923      940836817         0,00                 20220601            SGD
1101924      754385277      4415,19                 20220601            SGD

        CREDIT_STATUS  CUSTOMER_NUMBER
0                 NaN         12311807
1                 NaN         12311807
2                93.0         12118758
3                93.0       1210499770
4                64.0       1210351400
...               ...              ...
1101920           NaN       1210331804
1101921           NaN       1210331804
1101922           NaN       1210331811
1101923           NaN       1210331811
1101924           NaN       1210331804

[1101925 rows x 16 columns]

In [24]:
import pandas as pd

# Assuming the dataframe is named 'df'

# Convert "ORDER_CREATION_DATE" to datetime format
df["ORDER_CREATION_DATE"] = pd.to_datetime(df["ORDER_CREATION_DATE"], format="%Y%m%d")

# Verify the dataframe after changing the format
print(df["ORDER_CREATION_DATE"])

0         2022-01-01
1         2022-01-01
2         2022-01-01
3         2022-01-01
4         2022-01-01
             ...
1101920   2022-06-01
1101921   2022-06-01
1101922   2022-06-01
1101923   2022-06-01
1101924   2022-06-01
Name: ORDER_CREATION_DATE, Length: 1101925, dtype: datetime64[ns]

In [28]:
import pandas as pd

# Assuming the dataframe is named 'df' and the order date column is 'ORDER_CREATION_DATE'
# and the delivery date column is 'DELIVERY_DATE'

# Convert 'ORDER_CREATION_DATE' and 'DELIVERY_DATE' to datetime format if not already done
df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'], format='%Y%m%d')
df['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(df['REQUESTED_DELIVERY_DATE'], format='%Y%m%d')

# Filter the records where order date is greater than delivery date
records_with_order_gt_delivery = df[df['ORDER_CREATION_DATE'] > df['REQUESTED_DELIVERY_DATE']]

# Get the count of such records
count_order_gt_delivery = len(records_with_order_gt_delivery)

# Print the count
print("Number of records with order date greater than delivery date:", count_order_gt_delivery)

Number of records with order date greater than delivery date: 27142

In [30]:
import pandas as pd

# Assuming the dataframe is named 'df' and the order date column is 'ORDER_CREATION_DATE'
# and the delivery date column is 'DELIVERY_DATE'

# Convert 'ORDER_CREATION_DATE' and 'DELIVERY_DATE' to datetime format if not already done
df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'], format='%Y%m%d')
df['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(df['REQUESTED_DELIVERY_DATE'], format='%Y%m%d')

# Remove the records where order date is greater than delivery date
df = df[df['ORDER_CREATION_DATE'] <= df['REQUESTED_DELIVERY_DATE']]

# Verify the dataframe after removing the records
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954,61              2022-01-13            EUR
1            798847812       787,36              2022-01-11            EUR
2            960984659     67493,46              2022-01-12            EUR
3            925857642      1405,54              2022-01-06            EUR
4            947942786         0,00              2022-01-06            EUR
...                ...          ...                     ...            ...
1101920      946056501      4415,19              2022-06-01            SGD
1101921      894775488         0,00              2022-06-01            SGD
1101922      909729781         0,00              2022-06-01            SGD
1101923      940836817         0,00              2022-06-01            SGD
1101924      754385277      4415,19              2022-06-01            SGD

        CREDIT_STATUS  CUSTOMER_NUMBER
0                 NaN         12311807
1                 NaN         12311807
2                93.0         12118758
3                93.0       1210499770
4                64.0       1210351400
...               ...              ...
1101920           NaN       1210331804
1101921           NaN       1210331804
1101922           NaN       1210331811
1101923           NaN       1210331811
1101924           NaN       1210331804

[1074783 rows x 16 columns]

In [31]:
import pandas as pd

# Assuming the dataframe is named 'df' and the field is 'ORDER_AMOUNT'

# Check the number of records with "-" in the "ORDER_AMOUNT" field
count_dash = len(df[df['ORDER_AMOUNT'] == "-"])
print("Number of records with '-' in ORDER_AMOUNT:", count_dash)

# Replace "-" with an empty string in the "ORDER_AMOUNT" field
df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].replace("-", "")

# Verify the dataframe after replacing "-"
print(df)

Number of records with '-' in ORDER_AMOUNT: 0
         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954,61              2022-01-13            EUR
1            798847812       787,36              2022-01-11            EUR
2            960984659     67493,46              2022-01-12            EUR
3            925857642      1405,54              2022-01-06            EUR
4            947942786         0,00              2022-01-06            EUR
...                ...          ...                     ...            ...
1101920      946056501      4415,19              2022-06-01            SGD
1101921      894775488         0,00              2022-06-01            SGD
1101922      909729781         0,00              2022-06-01            SGD
1101923      940836817         0,00              2022-06-01            SGD
1101924      754385277      4415,19              2022-06-01            SGD

        CREDIT_STATUS  CUSTOMER_NUMBER
0                 NaN         12311807
1                 NaN         12311807
2                93.0         12118758
3                93.0       1210499770
4                64.0       1210351400
...               ...              ...
1101920           NaN       1210331804
1101921           NaN       1210331804
1101922           NaN       1210331811
1101923           NaN       1210331811
1101924           NaN       1210331804

[1074783 rows x 16 columns]

C:\Users\KIIT\AppData\Local\Temp\ipykernel_15372\1103277373.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].replace("-", "")

In [32]:
import pandas as pd

# Assuming the dataframe is named 'df' and the field is 'ORDER_AMOUNT'

# Check the number of records with "," in the "ORDER_AMOUNT" field
count_comma = len(df[df['ORDER_AMOUNT'].str.contains(",", na=False)])
print("Number of records with ',' in ORDER_AMOUNT:", count_comma)

Number of records with ',' in ORDER_AMOUNT: 1073406

In [36]:
import pandas as pd

# Assuming the dataframe is named 'df' and the field is 'ORDER_AMOUNT'

# Replace "," with "." in the "ORDER_AMOUNT" field
df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].str.replace(",", ".")

# Verify the dataframe after replacing ","
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954.61              2022-01-13            EUR
1            798847812       787.36              2022-01-11            EUR
2            960984659     67493.46              2022-01-12            EUR
3            925857642      1405.54              2022-01-06            EUR
4            947942786         0.00              2022-01-06            EUR
...                ...          ...                     ...            ...
1101920      946056501      4415.19              2022-06-01            SGD
1101921      894775488         0.00              2022-06-01            SGD
1101922      909729781         0.00              2022-06-01            SGD
1101923      940836817         0.00              2022-06-01            SGD
1101924      754385277      4415.19              2022-06-01            SGD

        CREDIT_STATUS  CUSTOMER_NUMBER
0                 NaN         12311807
1                 NaN         12311807
2                93.0         12118758
3                93.0       1210499770
4                64.0       1210351400
...               ...              ...
1101920           NaN       1210331804
1101921           NaN       1210331804
1101922           NaN       1210331811
1101923           NaN       1210331811
1101924           NaN       1210331804

[1074783 rows x 16 columns]

C:\Users\KIIT\AppData\Local\Temp\ipykernel_15372\3085099501.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].str.replace(",", ".")

In [38]:
import pandas as pd

# Assuming the dataframe is named 'df' and the order date column is 'ORDER_CREATION_DATE'
# and the delivery date column is 'DELIVERY_DATE'

# Convert 'ORDER_CREATION_DATE' and 'DELIVERY_DATE' to datetime format if not already done
df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'], format='%Y%m%d')
df['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(df['REQUESTED_DELIVERY_DATE'], format='%Y%m%d')

# Count the number of records where the order date and delivery date are the same
count_same_dates = (df['ORDER_CREATION_DATE'].dt.date == df['REQUESTED_DELIVERY_DATE'].dt.date).sum()

# Print the count
print("Number of records with the same order date and delivery date:", count_same_dates)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_15372\2345410867.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'], format='%Y%m%d')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_15372\2345410867.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(df['REQUESTED_DELIVERY_DATE'], format='%Y%m%d')

Number of records with the same order date and delivery date: 100437

In [39]:
import pandas as pd

# Assuming the dataframe is named 'df' and the currency column is 'ORDER_CURRENCY'

# Count the number of records for each currency type
currency_counts = df['ORDER_CURRENCY'].value_counts()

# Print the currency counts
print(currency_counts)

USD    622835
EUR    253196
AUD     64200
CAD     55065
GBP     22028
MYR     13946
PLN     11861
AED      7852
HKD      6198
CHF      5259
RON      4731
SGD      3909
CZK      2178
HU1      1377
NZD        79
BHD        32
SAR        14
QAR        12
KWD         7
SEK         4
Name: ORDER_CURRENCY, dtype: int64

In [41]:
pip install forex-python

Requirement already satisfied: forex-python in c:\users\kiit\anaconda3\lib\site-packages (1.8)
Requirement already satisfied: requests in c:\users\kiit\anaconda3\lib\site-packages (from forex-python) (2.28.1)
Requirement already satisfied: simplejson in c:\users\kiit\anaconda3\lib\site-packages (from forex-python) (3.19.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit\anaconda3\lib\site-packages (from requests->forex-python) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit\anaconda3\lib\site-packages (from requests->forex-python) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kiit\anaconda3\lib\site-packages (from requests->forex-python) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kiit\anaconda3\lib\site-packages (from requests->forex-python) (1.26.11)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from forex_python.converter import CurrencyRates

# Assuming the dataframe is named 'df' and the currency column is 'ORDER_CURRENCY'
# and the amount column is 'ORDER_AMOUNT'

# Create an instance of the CurrencyRates class
c = CurrencyRates()

# Define the base currency as USD
base_currency = 'USD'

# Create a function to convert a given amount from a currency to USD
def convert_to_usd(amount, currency):
    return c.convert(currency, base_currency, amount)

# Create the 'amount_in_usd' column and convert the amounts to USD
df['amount_in_usd'] = df.apply(lambda row: convert_to_usd(row['ORDER_AMOUNT'], row['ORDER_CURRENCY']), axis=1)

# Print the updated dataframe
print(df)

In [46]:
import pandas as pd

# Assuming the dataframe is named 'df' and the column is 'amount_in_usd'

# Check for values of "0" in the 'amount_in_usd' column
zero_values = df[df['ORDER_AMOUNT'] == 0]

# Print the rows with values of "0" in the 'amount_in_usd' column
print(zero_values)

Empty DataFrame
Columns: [CUSTOMER_ORDER_ID, SALES_ORG, DISTRIBUTION_CHANNEL, DIVISION, RELEASED_CREDIT_VALUE, PURCHASE_ORDER_TYPE, COMPANY_CODE, ORDER_CREATION_DATE, ORDER_CREATION_TIME, CREDIT_CONTROL_AREA, SOLD_TO_PARTY, ORDER_AMOUNT, REQUESTED_DELIVERY_DATE, ORDER_CURRENCY, CREDIT_STATUS, CUSTOMER_NUMBER]
Index: []

In [47]:
# Assuming the dataframe is named 'df' and the columns are 'CUSTOMER_NUMBER' and 'COMPANY_CODE'

# Create the 'unique_cust_id' column by combining 'CUSTOMER_NUMBER' and 'COMPANY_CODE'
df['unique_cust_id'] = df['CUSTOMER_NUMBER'].astype(str) + '_' + df['COMPANY_CODE'].astype(str)

# Print the updated dataframe
print(df)

         CUSTOMER_ORDER_ID  SALES_ORG      DISTRIBUTION_CHANNEL      DIVISION  \
0                946851639       3537  United States of America  South-Region
1                963432061       3449                Martinique  South-Region
2                971991639       3238                   Moldova  South-Region
3                754349803       3911      United Arab Emirates  South-Region
4                930253442       2381                    Greece  South-Region
...                    ...        ...                       ...           ...
1101920          853605710       2498                   Germany  South-Region
1101921          998890898       4509                   Armenia  South-Region
1101922          983330221       3951                     Nepal  South-Region
1101923          926668029       3235                    Panama  South-Region
1101924          921701000       2968                 Nicaragua  South-Region

        RELEASED_CREDIT_VALUE PURCHASE_ORDER_TYPE  COMPANY_CODE  \
0                        0,00                1000          3220
1                        0,00                1000          3220
2                    82342,02                I200          3260
3                     1471,24                N000          3290
4                        0,00                N000          3290
...                       ...                 ...           ...
1101920                  0,00                 NaN          4260
1101921                  0,00                 NaN          4260
1101922                  0,00                 NaN          4260
1101923                  0,00                 NaN          4260
1101924                  0,00                 NaN          4260

        ORDER_CREATION_DATE  ORDER_CREATION_TIME CREDIT_CONTROL_AREA  \
0                2022-01-01                43012                SR02
1                2022-01-01                43114                NR03
2                2022-01-01               110019                NR01
3                2022-01-01               153013                SR02
4                2022-01-01               160020                SR01
...                     ...                  ...                 ...
1101920          2022-06-01                74357                NR02
1101921          2022-06-01                84052                NR04
1101922          2022-06-01                85322                NR01
1101923          2022-06-01                90538                SR04
1101924          2022-06-01               113357                NR02

         SOLD_TO_PARTY ORDER_AMOUNT REQUESTED_DELIVERY_DATE ORDER_CURRENCY  \
0            756141537       954.61              2022-01-13            EUR
1            798847812       787.36              2022-01-11            EUR
2            960984659     67493.46              2022-01-12            EUR
3            925857642      1405.54              2022-01-06            EUR
4            947942786         0.00              2022-01-06            EUR
...                ...          ...                     ...            ...
1101920      946056501      4415.19              2022-06-01            SGD
1101921      894775488         0.00              2022-06-01            SGD
1101922      909729781         0.00              2022-06-01            SGD
1101923      940836817         0.00              2022-06-01            SGD
1101924      754385277      4415.19              2022-06-01            SGD

        CREDIT_STATUS  CUSTOMER_NUMBER   unique_cust_id
0                 NaN         12311807    12311807_3220
1                 NaN         12311807    12311807_3220
2                93.0         12118758    12118758_3260
3                93.0       1210499770  1210499770_3290
4                64.0       1210351400  1210351400_3290
...               ...              ...              ...
1101920           NaN       1210331804  1210331804_4260
1101921           NaN       1210331804  1210331804_4260
1101922           NaN       1210331811  1210331811_4260
1101923           NaN       1210331811  1210331811_4260
1101924           NaN       1210331804  1210331804_4260

[1074783 rows x 17 columns]