In [5]:
# create a class of name student print name roll no and cgpa by calling a class creating object

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
#The __init__ function is called every time an object is created from a class.

In [14]:
class Student:
    def __init__(self, name, roll_no, cgpa):
        self.name = name
        self.roll_no = roll_no
        self.cgpa = cgpa

    def print_details(self):
        print("Name:", self.name)
        print("Roll No.:", self.roll_no)
        print("CGPA:", self.cgpa)

        
#create an object of an student
student2 = Student("Bibhab Banerjee",19,8.8)
student2.print_details()

Name: Bibhab Banerjee
Roll No.: 19
CGPA: 8.8

In [15]:
def greet(name):
    print("Hello,", name, "!")
greet("Alice")

Hello, Alice !

In [ ]:
# create a class of 3 variables and insert 10 roll no and cgpa

In [22]:
class Student:
    def __init__(self, name, roll, cgpa):
        self.name = name
        self.roll = roll
        self.cgpa = cgpa

students = []  


students.append(Student("B Banerjee",101,8.2))
students.append(Student("Subhu",102,8.1))
students.append(Student("AYUSH RAJ",103,8.9))
students.append(Student("Subhadip Maity",104,9.0))
students.append(Student("Mani",105,9.2))
students.append(Student("Frank", 106, 3.6))
students.append(Student("Grace", 107, 3.3))
students.append(Student("Henry", 108, 3.7))
students.append(Student("Isabelle", 109, 3.4))
students.append(Student("Jack", 110, 3.0))

for student in students:
    print("Name:", student.name)
    print("Roll No.:", student.roll)
    print("CGPA:", student.cgpa)
    print()

Name: B Banerjee
Roll No.: 101
CGPA: 8.2

Name: Subhu
Roll No.: 102
CGPA: 8.1

Name: AYUSH RAJ
Roll No.: 103
CGPA: 8.9

Name: Subhadip Maity
Roll No.: 104
CGPA: 9.0

Name: Mani
Roll No.: 105
CGPA: 9.2

Name: Frank
Roll No.: 106
CGPA: 3.6

Name: Grace
Roll No.: 107
CGPA: 3.3

Name: Henry
Roll No.: 108
CGPA: 3.7

Name: Isabelle
Roll No.: 109
CGPA: 3.4

Name: Jack
Roll No.: 110
CGPA: 3.0

In [20]:
class Student:
    def __init__(self, name, roll, cgpa):
        self.name = name
        self.roll = roll
        self.cgpa = cgpa

students = []  # initialize an empty list to hold the student objects

# insert 10 student records
students.append(Student("Alice", 101, 3.5))
students.append(Student("Bob", 102, 3.2))
students.append(Student("Charlie", 103, 3.8))
students.append(Student("Dave", 104, 3.1))
students.append(Student("Emma", 105, 3.9))
students.append(Student("Frank", 106, 3.6))
students.append(Student("Grace", 107, 3.3))
students.append(Student("Henry", 108, 3.7))
students.append(Student("Isabelle", 109, 3.4))
students.append(Student("Jack", 110, 3.0))

# print out the student records
for student in students:
    print("Name:", student.name)
    print("Roll No.:", student.roll)
    print("CGPA:", student.cgpa)
    print()  # print a blank line to separate the records

Name: Alice
Roll No.: 101
CGPA: 3.5

Name: Bob
Roll No.: 102
CGPA: 3.2

Name: Charlie
Roll No.: 103
CGPA: 3.8

Name: Dave
Roll No.: 104
CGPA: 3.1

Name: Emma
Roll No.: 105
CGPA: 3.9

Name: Frank
Roll No.: 106
CGPA: 3.6

Name: Grace
Roll No.: 107
CGPA: 3.3

Name: Henry
Roll No.: 108
CGPA: 3.7

Name: Isabelle
Roll No.: 109
CGPA: 3.4

Name: Jack
Roll No.: 110
CGPA: 3.0

In [ ]:
#create a class and display employee employee id,salry and department using parameterized constructor

In [24]:
class Employee:
    def __init__(self, emp_id, salary, department):
        self.emp_id = emp_id
        self.salary = salary
        self.department = department

    def display_employee_details(self):
        print("Employee ID:", self.emp_id)
        print("Salary:", self.salary)
        print("Department:", self.department)

emp1 = Employee("E101", 50000, "Sales")
emp1.display_employee_details()

Employee ID: E101
Salary: 50000
Department: Sales

In [ ]:
#class variable is an instance variable

In [ ]:
#create class variable name x and create instance variable and implement x 4 times

In [25]:
class MyClass:
    x = 123

    def __init__(self):
        self.a = MyClass.x
        self.b = MyClass.x
        self.c = MyClass.x
        self.d = MyClass.x


obj = MyClass()

print("a =", obj.a)

a = 123
b = 123
c = 123
d = 123

In [26]:
class MyClass:
    x = 0

    def __init__(self, y):
        self.y = y


obj1 = MyClass(1)
obj2 = MyClass(2)
obj3 = MyClass(3)
obj4 = MyClass(4)


MyClass.x += 1
MyClass.x += 1
MyClass.x += 1
MyClass.x += 1


print("obj1: x=", obj1.x, "y=", obj1.y)
print("obj2: x=", obj2.x, "y=", obj2.y)
print("obj3: x=", obj3.x, "y=", obj3.y)
print("obj4: x=", obj4.x, "y=", obj4.y)

obj1: x= 4 y= 1
obj2: x= 4 y= 2
obj3: x= 4 y= 3
obj4: x= 4 y= 4